<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>assets</key>
				<array>
					<dict>
						<key>kind</key>
						<string>software-package</string>
						<-- ipa가 업로드 되어 있는 URL -->
							<key>url</key>
							<string>https://github.com/jhy0409/toyPrj_customAlert/blob/main/ipa/CustomAlert%202023-09-05%2012-35-27/CustomAlert-BBEDD3A9-214F-4442-888F-6D7E86B2E59A.ipa</string>
					</dict>
				</array>
				<key>metadata</key>
				<dict>
					<-- Bundle ID 값 -->
						<key>com.jh.test.CustomAlert</key>
						<string>my.bundle.id</string>
						<-- Version 정보(안 바꿔줘도 다운로드 하는데 문제는 없음 -->
							<key>bundle-version</key>
							<string>1.0.0</string>
							<key>kind</key>
							<string>software</string>
							<-- 앱 이름 -->
								<key>title</key>
								<string>CustomAlert</string>
				</dict>
			</dict>
		</array>
	</dict>
</plist>